In [65]:
import pandas as pd 
import sqlite3

df = pandas.read_csv("data_science_job.csv")

print(df)

      work_year                             job_title  job_category  \
0          2022  Machine Learning Engineer  in office      Analysis
1          2020                Statistician  (Remote)         ML/AI
2          2022           Machine Learning Engineer           ML/AI
3          2022               Data Analyst  in office         ML/AI
4          2020                        Statistician    Data Science
...         ...                                   ...           ...
4995       2020   Machine Learning Engineer  (Remote)           NaN
4996       2021   Machine Learning Engineer  (Remote)           NaN
4997       2022           Machine Learning Engineer        Analysis
4998       2021                        Statistician    Data Science
4999       2020              Data Scientist  (Remote)   Engineering

     salary_currency  salary  salary_in_usd employee_residence  \
0                EUR  186597         136086                 US
1                JPY  110630          67982                 JP
2                INR   61280         153309                 UK
3                JPY  154130         135242                 DE
4                EUR  172312          35156                 UK
...              ...     ...            ...                ...
4995             NaN  179769         179111                 UK
4996             NaN  184642         196373                 CN
4997             GBP  135319          51366                 UK
4998             EUR   58037         181817                 US
4999             GBP  143565         172425                 CN

     experience_level employment_type work_setting company_location  \
0                  MI              CT       Remote               DE
1                  EX              FL       Remote               IN
2                  MI              CT       Hybrid               CN
3                  SE              FT       Hybrid               MX
4                  MI              FT    In-person               UK
...               ...             ...          ...              ...
4995              NaN              CT    In-person               IN
4996              NaN              FL       Remote               UK
4997               EN              FL       Hybrid               JP
4998               MI              PT       Remote               DE
4999               EX              CT       Remote               CN

     company_size
0               L
1               M
2               L
3               L
4               S
...           ...
4995          NaN
4996          NaN
4997            M
4998            S
4999            L

[5000 rows x 12 columns]

In [32]:
print("Kolumner i filen:", df.columns)

Kolumner i filen: Index(['work_year', 'job_title', 'job_category', 'salary_currency', 'salary',
       'salary_in_usd', 'employee_residence', 'experience_level',
       'employment_type', 'work_setting', 'company_location', 'company_size',
       'salary_in_thousands'],
      dtype='object')

In [34]:
if 'start_date' not in df.columns:
    print("Kolumnen 'start_date' saknas! En dummy-kolumn skapas.")
    df['start_date'] = pd.NaT

Kolumnen 'start_date' saknas! En dummy-kolumn skapas.

In [29]:
df = df[df['salary'] > 50000]

In [30]:
df['salary_in_thousands'] = df['salary'] / 1000

In [35]:
df['start_date'] = pd.to_datetime(df['start_date'], errors='coerce')

In [36]:
df['start_date'] = df['start_date'].fillna(pd.Timestamp.today())

In [37]:
df['start_year'] = df['start_date'].dt.year

In [38]:
df['start_month'] = df['start_date'].dt.month

In [39]:
df = df[df['start_year'] >= 2000]

In [41]:
df['salary_category'] = pd.cut(
    df['salary'],
    bins=[0, 60000, 100000, float('inf')],
    labels=['Low', 'Medium', 'High']
)

In [42]:
df['job_title'] = df['job_title'].str.lower()

In [43]:
df['job_title_length'] = df['job_title'].str.len()

In [44]:
df = df.sort_values(by='salary', ascending=False)

In [45]:
print(df.head())

      work_year                            job_title  job_category  \
1811       2020              data engineer  (remote)         ML/AI
1981       2021                      data engineer        Analysis
2466       2020  machine learning engineer  (remote)  Data Science
3926       2021                       data analyst           ML/AI
4120       2021              data engineer  (remote)           NaN

     salary_currency  salary  salary_in_usd employee_residence  \
1811             INR  199924          63135                 CN
1981             EUR  199914          69355                 CN
2466             INR  199839         167711                 IN
3926             EUR  199823         112536                 UK
4120             NaN  199810         171148                 US

     experience_level employment_type work_setting company_location  \
1811               EX              FT       Hybrid               MX
1981               EX              FT       Hybrid               MX
2466               EX              CT    In-person               IN
3926               SE              FT       Hybrid               CN
4120              NaN              CT       Hybrid               CN

     company_size  salary_in_thousands                 start_date  start_year  \
1811            S              199.924 2024-12-19 16:48:14.044771        2024
1981            S              199.914 2024-12-19 16:48:14.044771        2024
2466            L              199.839 2024-12-19 16:48:14.044771        2024
3926            M              199.823 2024-12-19 16:48:14.044771        2024
4120          NaN              199.810 2024-12-19 16:48:14.044771        2024

      start_month salary_category  job_title_length
1811           12            High                23
1981           12            High                15
2466           12            High                35
3926           12            High                14
4120           12            High                23

In [ ]:
import pandas as pd  
import logging  
import sqlite3  

logging.basicConfig(  
    filename='data_sciens_job.txt',  
    format='%(asctime)s - %(levelname)s - %(message)s',  
    level=logging.INFO  
)  

logger = logging.getLogger()  
logger.info('Startar hantering av data.')  

try:  
    df = pd.read_csv("data_science_job.csv")  
    logger.info('Tillg채ngliga kolumner: %s', df.columns.tolist())  
    
    if 'salary' not in df.columns:  
        logger.error("Kolumnen 'salary' saknas.")  
        raise KeyError("Kolumnen 'salary' saknas.")  
    
    if 'start_date' not in df.columns:  
        logger.warning("Kolumnen 'start_date' saknas! En dummy-kolumn skapas.")  
        df['start_date'] = pd.NaT  # Skapa en dummy-kolumn  

    df = df[df['salary'] > 50000]  

    df['salary_in_thousands'] = df['salary'] / 1000  
    
    df['start_date'] = pd.to_datetime(df['start_date'], errors='coerce')  
    df['start_date'] = df['start_date'].fillna(pd.Timestamp.today())  
    df['start_year'] = df['start_date'].dt.year  
    df['start_month'] = df['start_date'].dt.month  
    df = df[df['start_year'] >= 2000]  

    df['salary_category'] = pd.cut(  
        df['salary'],  
        bins=[0, 60000, 100000, float('inf')],  
        labels=['Low', 'Medium', 'High']  
    )  

    df['job_title'] = df['job_title'].str.lower()  
    df['job_title_length'] = df['job_title'].str.len()  
    
    df = df.sort_values(by='salary', ascending=False)  
    
    print(df.head())  
    
    con = sqlite3.connect("data_science_job.db")  
    
    df.to_sql("filtered_data", con, if_exists="replace", index=False)  
    
    logger.info('Data har bearbetats och sparats i databasen.')  

except Exception as e:  
    logger.error('Ett fel uppstod: %s', e)  
    print("Fel! Kontrollera loggen.")  

finally:  
    if 'con' in locals():  
        con.close()  
        logger.info("Databasanslutningen har st채ngts.")

2024-12-23 01:31:59,416 - INFO - Startar hantering av data.
2024-12-23 01:31:59,427 - INFO - Tillg채ngliga kolumner: ['work_year', 'job_title', 'job_category', 'salary_currency', 'salary', 'salary_in_usd', 'employee_residence', 'experience_level', 'employment_type', 'work_setting', 'company_location', 'company_size']
2024-12-23 01:31:59,428 - WARNING - Kolumnen 'start_date' saknas! En dummy-kolumn skapas.
2024-12-23 01:31:59,514 - INFO - Data har bearbetats och sparats i databasen.
2024-12-23 01:31:59,515 - INFO - Databasanslutningen har st채ngts.

      work_year                            job_title  job_category  \
1811       2020              data engineer  (remote)         ML/AI
1981       2021                      data engineer        Analysis
2466       2020  machine learning engineer  (remote)  Data Science
3926       2021                       data analyst           ML/AI
4120       2021              data engineer  (remote)           NaN

     salary_currency  salary  salary_in_usd employee_residence  \
1811             INR  199924          63135                 CN
1981             EUR  199914          69355                 CN
2466             INR  199839         167711                 IN
3926             EUR  199823         112536                 UK
4120             NaN  199810         171148                 US

     experience_level employment_type work_setting company_location  \
1811               EX              FT       Hybrid               MX
1981               EX              FT       Hybrid               MX
2466               EX              CT    In-person               IN
3926               SE              FT       Hybrid               CN
4120              NaN              CT       Hybrid               CN

     company_size                 start_date  salary_in_thousands  start_year  \
1811            S 2024-12-23 01:31:59.463021              199.924        2024
1981            S 2024-12-23 01:31:59.463021              199.914        2024
2466            L 2024-12-23 01:31:59.463021              199.839        2024
3926            M 2024-12-23 01:31:59.463021              199.823        2024
4120          NaN 2024-12-23 01:31:59.463021              199.810        2024

      start_month salary_category  job_title_length
1811           12            High                23
1981           12            High                15
2466           12            High                35
3926           12            High                14
4120           12            High                23